:root {
    --h3-height: 45px;
    --siderbar-margin: 40px;
    --grey-accent: rgb(238, 238, 238);
    --theme-accent: rgb(245,238,229);
    --gap-size: 30px;
    --bottomHeader-height: 130px;
    --topHeader-height: 70px;
    --header-padding-top: 13px;
    --header-height: calc(var(--bottomHeader-height) + var(--topHeader-height) + var(--header-padding-top));
    --cardTitle-height: 65px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

ul {
    list-style-type: none;
}

hr {
    height: 1px;
    margin: auto;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas: 
    "dashboard header"
    "dashboard content";
}

.sidebar {
    background-color: var(--theme-accent);
    grid-area: dashboard;
}

.title {
    display: grid;
    grid-template-columns: 0fr;
    grid-auto-flow: column;
    margin-top: 20px;
    margin-bottom: var(--siderbar-margin);
}

.title img {
    height: 60px;
}

.title h1 {
    margin: auto 0 auto 15px;
    font-size: 2rem;
}

.title,
.sidebar li {
    margin-left: 20px;
}

ul {
    display: grid;
    grid-template-columns: 35px 1fr;
    margin-left: 30px;
}

ul img {
    height: 35px;
}

.sidebar li,
ul img  {
    margin-top: 15px;
}
.sidebar li {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: auto;
}

.settings {
    margin-top: var(--siderbar-margin);
}

header {
    padding-top: var(--header-padding-top);
    box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.151); 
    z-index: 10;
}

.topHeader,
.bottomHeader {
    padding-left: 50px;
}

.topHeader{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: var(--topHeader-height);
}

.bottomHeader {
    display: grid;
    grid-template-columns: 1fr;
    height: var(--bottomHeader-height);
}

.search,
.account,
.welcome {
    display: grid;
    align-content: center;
}

.search,
.account,
.bottomHeader {
    grid-auto-flow: column;
}

.search {
    grid-template-columns: 35px 1fr;
}

.search img {
    margin: auto;

}

.searchbar {
    background: var(--grey-accent);
    margin: 0 30px;
    padding: 0 15px;
    width: 80%;
    height: 39px;
    border-radius: 20px;
    border: none;
}

.account {
    grid-template-columns: 35px 100px 1fr;
    justify-content: center;
}

.userIconSmall {
    height: 60px;
}

.userIconMedium {
    height: 90px;
}

.account p,
.account img {
    margin: auto;
}

.account p {
    margin-left: 0;
    margin-right: 15px;
    font-weight: 700;
    font-size: 1.3rem;
}

.welcome {
    grid-template-columns: 90px minmax(300px, 1fr);
    grid-auto-flow: column;
    margin: auto auto auto 0;
}

.welcomeText {
    margin: auto 30px;
    line-height: 2rem;
    font-weight: 700;
}

.welcomeText p:first-child {
   font-size: 1.1rem;
}

.welcomeText p:last-child {
    font-size: 1.8rem;
 }
 

button {
    padding: 15px;
    width: 130px;
    border-radius: 50px;
    border: none;
    margin: auto;
    margin-right: 40px;
    background-color: var(--theme-accent);
    font-weight: 700;
    font-size: 1.1rem;
}

.content {
    padding: 40px var(--gap-size) var(--gap-size) var(--gap-size);
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    background-color: var(--grey-accent);
}

h3 {
    display: grid;
    align-content: end;
    font-size: 1.6rem;
    height: var(--h3-height);
}

.cards,
.announce,
.trends {
    margin-top: 10px;
}

.card,
.announce,
.trends {
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}

.projects {
    grid-row: 1 / 3;
}

.cards {
    height: calc(100% - var(--h3-height) - 10px) ;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: var(--gap-size);
}

.card {
    height: 100%;
}

.cardTitle,
.cardDesc {
    padding: 0 30px;
}

.cardTitle {
    padding-top: 40px;
    font-size: 1.4rem;
    font-weight: 700;
    height: var(--cardTitle-height);
}

.cardDesc {
    height: calc(100% - var(--cardTitle-height));
    font-size: 1.2rem;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: calc(100% - 35px) 35px;
}

.cardDesc img {
    height: 35px;
}

.cardDesc p {
    grid-column: 1 / 9; 
}

.cardDesc div {
    grid-column: 6 / 9;
    display: grid;
    grid-auto-flow: column;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: var(--h3-height);
    margin-left: var(--gap-size);
}

.announcements {
 margin-bottom: var(--gap-size);
}

.announce,
.trends,
.announceTab,
.trendTab {
    display: grid;
}

.announce,
.trends {
    padding: 20px;
}

.announceTab,
.trendTab {
    align-content: center;
}

.announceTab {
    padding: 10px;
}

.announceTitle {
    font-weight: 700;
}

.announceDesc {
    font-size: .85rem;
}

.announceDesc,
.trendDesc,
.cardDesc {
    color: rgb(110, 110, 110);
}

.trendTab {
    grid-template-columns: 75px 1fr;
    grid-auto-flow: column;
}

.trendTab div {
    margin: auto auto auto 0;
}